{:paths ["src" "resources"]
 :deps {org.clojure/clojure       {:mvn/version "1.10.3"}
        integrant/integrant       {:mvn/version "0.8.0"}
        ring/ring                 {:mvn/version "1.8.0"}
        ring/ring-core            {:mvn/version "1.8.2"}
        ring/ring-defaults        {:mvn/version "0.3.3"}
        ring/ring-jetty-adapter   {:mvn/version "1.8.2"}
        compojure/compojure       {:mvn/version "1.6.2"}
        metosin/muuntaja          {:mvn/version "0.6.8"}
        com.wsscode/pathom        {:mvn/version "2.4.0"}
        com.fulcrologic/fulcro    {:mvn/version "3.5.13"}
        com.taoensso/timbre       {:mvn/version "5.1.2"}
        com.fzakaria/slf4j-timbre {:mvn/version "0.3.21"}
        cider/cider-nrepl         {:mvn/version "0.28.3"}}

 :aliases
 {:run {:main-opts ["-m" "myusername.mynewapp.main"]}

  :env/dev {:extra-paths ["dev"]
            :extra-deps {org.clojure/tools.namespace {:mvn/version "1.2.0"}
                         integrant/repl              {:mvn/version "0.3.2"}
                         hawk/hawk                   {:mvn/version "0.2.11"}}}

  :env/test {:extra-paths ["test"]
             :extra-deps {lambdaisland/kaocha {:mvn/version "1.64.1010"}}}

  ;; Tools
  :build {:deps {io.github.seancorfield/build-clj
                 {:git/tag "v0.6.3" :git/sha "9b8e09b"
                  :deps/root "slim"}}
          :ns-default build
          :extra-paths ["build"]
          :extra-deps {io.github.atomisthq/jibbit {:git/tag "v0.1.13" :git/sha "4547f2d"}}}}}
