{:aliases [:env/dev :env/test]
 :main user
 :working-dir "/home/app"
 :base-image {:image-name "arm64v8/openjdk:11.0.14.1-jdk-bullseye"
              :type :registry}
 :target-image {:image-name "myusername/mynewapp"
                :type :docker}}
